<div> <h4> Four Factors </h4> </div>
<div> eFG% </div>
<div> Turnover% </div>
<div> Offensive Reb % </div>
<div> FTA/FGA </div>
<div> <h4> Miscellaneous </h4> </div>
<div> 3P% </div>
<div> 2P% </div>
<div> FT% </div>
<div> Block% </div>
<div> Steal% </div>
<div> <h4> Style Components </h4> </div>
<div> 3PA/FGA </div>
<div> A/FGM </div>
<div> <h4> Point Distribution </h4> </div>
<div> 3-pointers </div>
<div> 2-Pointers </div>
<div> Free Throws </div>

