<div class="container-fluid">
  <div class="navbar-header">
    <div>
      <h3 class="navbar-text"> Blind Brackets - KenPom Style! </h3>
    </div>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li>
        <p class="navbar-text custom-navbar-text"> 
          Picked <strong>{{gamesPicked}}</strong>
          games out of <strong>{{totalGames}} </strong>
        </p>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li> <div class="navbar-text"> Username </div> </li>
    </ul>
  </div>
</div>
