.container.ember-app-container{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 50px 10px;
  background-color: #F2FAFD;
  border-style: solid;
  border-color: #444444;
  border-width: 0px 5px 5px 5px;
}
