.stat-row {
}
.styled-stat-box {
  display: inline-block;
  width: 70px;
  padding: 0px 4px;
  //border: 1px solid black;
  //border-bottom-width: 0px;
}

.styled-stat-box.styled-stat-box-bottom {
  //border-bottom-width: 1px;
}

.styled-stat-box.styled-stat-box-colorless{
  background-color: transparent;
}

.colorless-border {
  //border-top: 1px solid transparent;
}

.colorless-border.colorless-border-bottom{
  //border-bottom: 1px solid transparent;
}

.stat {
  color: black;
}

.rank {
  font-size: x-small;
  color: blue;
}

.toggle-container {
  padding: 5px;

  .fa.active-link {
    &:hover {
      color: #0000EE;
      cursor: pointer;
    }
  }

  .fa.inactive-link {
    color: #91908f;
  }
}

.content-container {
  padding-top: 20px;
  text-align: center;
}
